.EmailChecker_Title {
  width: 17rem;
  h1 {
    color: #d9d9d9;
    margin: 16px 0;
    text-align: left;
  }
}
.EmailChecker_Buttons {
  height: 4rem;
}

.EmailChecker_Input {
  width: 17rem;
}

.SeparatorDiv {
  width: 17rem;
}
