.Button {
  width: 17rem;
  height: 2rem;
  border-radius: 30px;
  &.primary {
    background-color: white;
  }

  &_Content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }
}
