.Button {
  width: 17rem;
  height: 2rem;
  border-radius: 30px;

  cursor: pointer;

  &.primary {
    background-color: white;

    transition: 0.3s;

    &.outlined {
      background-color: black !important;
      border: 0.5px solid rgb(83, 100, 113);
      color: white;
    }

    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }

  &_Content {
    height: 100%;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    font-family: Google Sans;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }
}
